@charset "utf-8"; 

body {
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Mincho Pro','Yu Mincho', serif;
 }

.menu {

    /* background-color:rgba(166, 166, 214, 0.089); */
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding-left: 70px; */
    align-items: center;
    /* border: solid 2px #000; */
    height: 75px;
}

.menu ul{ 
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    /* width: 1240px; */
    width: 70%;
    margin: 0 auto;
    /* padding: 10px 20px; */
    padding: 5px 5px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    /* border: solid 2px #e41717; */
}

.menu li a{
    color: black;
    text-decoration: none;
}

.menu li a:hover{
    color: #004e8e;
}

header div{
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    background-color:rgba(166, 166, 214, 0.089);
    /* margin-top: 89px; */
    display: flex; 
    align-items: center; 

    /* ここからchatGPT Sugession */
    /* flex-direction: column; */
    padding: 20px;
    text-align: center;

    /* border: solid 2px #1781e4; */
    
}
header div h1{
    max-width: 1000px;
    /* border: solid 2px #17e48f; */
}
header div h1 a img{
    /* border: solid 2px #000; */
    width: 100%;
    max-width: 500px;
    height: auto;
    padding-left: 0px;
    margin-top: 30px;
}
header div h1 p{
    /* border: solid 2px #000; */
    width: 100%;
    padding-left: 0px;
    font-size: 35px;
    color: rgba(12, 12, 12, 0.753);
    text-shadow: 1px 3px 3px #808080; 
    text-align: center;
    
}

/* header div article{
} */

header div article h2{
    width: 100%;
    padding-left: 80px;
    color: rgba(12, 12, 12, 0.753);
    font-size: 70px;
    margin-bottom: 0px;
    text-align: center;
}

header div article h3{
    width: 100%;
    margin-top: 0px;
    padding-left: 80px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 200;
    color: #808080;
    /* border: solid 5px #cf17e4; */
}


header div article .button{
    display: flex;
    width: 200px;
    height: 80px;
    list-style: none;
    margin-left: 200px;
}

header div article .button li{
    margin: 20px;
    margin-right: 120px;

}

header div article .button li a{
    text-decoration: none;
    background-color: #020d16;
    color: #fff;
    display: block;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: 200;
    padding-top: 15px;

}

header div article .button li a:hover{
    opacity: 0.8;
    transition: 0.3s;
}


/* From here is service list part  */
main{
    width: 100%;
}
.service{
    width: 100%;
    /* border: solid 2px #e41717; */
}
.service h2{
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: rgba(12, 12, 12, 0.753);
    margin-top: 40px;
    margin-bottom: 0;
}
.service h3{
    font-weight: 200;
    color: #808080;
    text-align: center;
    margin-top: 0;
}
.service .serviceList{
    display: flex;
    height: 500px;
    list-style: none;    
}
main .service .serviceList li{
    /* border: solid 2px #000; */
    text-align: center;
    height: 300px;
    width: 300px;
    margin: auto;
    color:#000000c7;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 0px 8.0px rgba(166, 166, 214, 0.781);
    /* vertical-align: middle; */
}
main .service .serviceList li h4{
    padding-top: 50px;
    /* border: solid 2px #e41717; */
}
main .service .serviceList li h4 a{
    text-decoration: none;
    font-size: 32px;
}

main .service .serviceList li:hover{
    opacity: 0.7;
    transition: 0.3s;
}

main .achivement{
    background-color:rgba(166, 166, 214, 0.089);
    height:900px;
} 

main .achivement h2{
    color:#000000c7;
    font-size: 40px;
    font-weight: 650;
    margin-left: 50px;
    margin-bottom: 0px;
    padding-top: 40px;
} 

main .achivement h3{
    color:#000000c7;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 0px;
    font-weight: 200;
}

main .achivement li{
    font-size: 25px;
    list-style: none;
    margin: 60px 100px;
}

main .achivement li span{
    font-size: 80px;
}

main .achivement li:before{
    content: "";
    width: 15px; 
    height: 15px;
    display: inline-block;
    background-color: #020d16;
    border-radius: 50%;
}


main .achivement table{
    font-size: 20px;
    text-align: left;
    margin-top: 20PX;
    margin-left: 100px;
    font-weight: 0;
    margin-bottom: 50px;
}
main .achivement table th{
    width: 500px;
}
main .achivement table tr{
    height: 40px;
}

main .CostomerReview h2{
    text-align: center;
    color:#000000c7;
    font-size: 40px;
    font-weight: 650; 
    margin-top: 100px;
    margin-bottom: 0px; 
}
main .CostomerReview h3{
    font-weight: 200;
    color: #808080;
    text-align: center;
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: 30px;
}
main .CostomerReview .ReviewList .block1{
    display: flex;
}

main .CostomerReview .ReviewList .block2{
    display: flex;
}
main .CostomerReview .ReviewList li{
    list-style: none;
}
main .CostomerReview .ReviewList li a{
    display: flex;
}
main .CostomerReview .ReviewList li a img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
main .CostomerReview .ReviewList li a p{
    background-color:rgba(128, 158, 223, 0.39);  
    width: 500px;
    height:300px;
    margin: 50px
}


main .Video{
    text-align: center;
    background-color:rgba(166, 166, 214, 0.089);
}

main .Video h3{
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: rgba(12, 12, 12, 0.753);
    margin-bottom: 0;
}

main .Video h4{
    font-weight: 200;
    color: #808080;
}

main .Videolist{
    justify-content: center;
    display: flex;
}

main .Videolist li{
    justify-content: center;
    text-align: center;
    list-style: none;
    margin-left: 50px;
}

main .Videolist li:hover{
    opacity: 0.7;
    transition: 0.3s;
}

main .Video .Videolist li h4{
    background-color: #eaeff4;
    color: #020d16;
    display: block;
    border-radius: 4px;
    width: 200px;
    height: 35px;
    text-align: center;
    font-weight: 400;
    padding-top: 10px;
    box-shadow: 0px 0px 8.0px rgba(166, 166, 214, 0.781);
}

.Contact{
    margin-right: 0;
    margin-left: auto;
    width: 30%;
    height: 400px;
    margin-right: 100px;
    margin-top: 200px;
}

.Contact h2{
    font-weight: 300;
    color: #808080;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 20px;    
    margin-bottom: 20px;
}
.Contact h3{
    margin-top: 10px;    
    margin-bottom: 20px;
    padding-top: 0px;
}
.Contact h3 a{
    text-decoration: none;
    background-color: #020d16;
    color: #fff;
    display: block;
    border-radius: 7px;
    width: 400px;
    height: 70px;
    text-align: center;
    font-weight: 200;
    font-size: 30px;
    padding-top: 20px;
}

.Contact h3:hover{
    opacity: 0.8;
    transition: 0.3s;
}

/* Fotter page */
footer{
    background-color: #020d16;
    color: #fff;
    padding: 20px 0; 
    text-align: center;

}
footer div{
    display: flex;
}

footer div a img{
    /* margin-right: 50px; */
    margin-top: 100px;
    margin-left: 100px;
    object-fit: cover;
}
footer div a p{
    margin-left: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
}
footer div ul{
    margin-top: 50px;
    margin-left: 350px;
    width: 50%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer div ul li{
    height:200px;
    width: 300px;
}

footer div ul li h4{
    margin: 30px;
}

footer p{
    text-align: center;
}


