@charset "utf-8"; 

body {
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Mincho Pro','Yu Mincho', serif;
 }

 .menu {
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    height: 75px;
    z-index: 999;
    padding: 0 15px; /* Added padding for better spacing */
}
.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding: 5px 5px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}
.menu li {
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}
.menu li:hover {
    color: #004e8e;
}
.menu li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #004e8e;
    transition: 0.3s;
}
.menu li a:hover::before {
    width: 100%;
}



header .siteface{
    width: 100%;
    /* height: 750px; */
    background-color:rgba(166, 166, 214, 0.089);
    display: flex; 
    align-items: center; 
    padding: 20px;
    text-align: center;

    /* border: solid 2px #1781e4; */
    
}
header .siteface h1{
    width: 40%;
    /* border: solid 2px #17e48f; */
}
header .siteface h1 a img{
    /* border: solid 2px #000; */
    width: 100%;
    max-width: 500px;
    height: auto;
    padding-left: 0px;
    margin-top: 30px;
}
header .siteface h1 p{
    /* border: solid 2px #000; */
    width: 100%;
    padding-left: 0px;
    font-size: 35px;
    color: rgba(12, 12, 12, 0.753);
    text-shadow: 1px 3px 3px #808080; 
    text-align: center;
    
}

header .siteface article{
    width: 60%;
    /* border: solid 5px #cf17e4 */
}

header .siteface article h2{
    width: 100%;
    padding-left: 70px;
    color: rgba(12, 12, 12, 0.753);
    font-size: 60px;
    margin-bottom: 0px;
    text-align: center;
}

header .siteface article h3{
    width: 100%;
    margin-top: 15px;
    padding-left: 70px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    color: #808080;
    /* border: solid 5px #cf17e4; */
}

/* header .siteface article h5{
    color: #808080;
    padding-left: 320px;
} */


header .siteface article .button{
    display: flex;
    list-style: none;
    margin-left: 200px;
    justify-content: center;
}

header .siteface article .button li{
    margin: 20px;
    margin-right: 120px;
}

header .siteface article .button li a{
    text-decoration: none;
    background-color: #020d16;
    color: #fff;
    display: block;
    border-radius: 4px;
    width: 220px;
    height: 50px;
    text-align: center;
    font-weight: 200;
    padding-top: 15px;

}

header .siteface article .button li a:hover{
    opacity: 0.8;
    transition: 0.3s;
}


/* From here is service list part  */
main{
    width: 100%;
}
.service{
    width: 100%;
    /* border: solid 2px #e41717; */
}
.service h2{
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: rgba(12, 12, 12, 0.753);
    margin-top: 40px;
    margin-bottom: 0;
}
.service h3{
    font-weight: 200;
    color: #808080;
    text-align: center;
    margin-top: 0;
}
.service .serviceList{
    display: flex;
    height: 500px;
    list-style: none;    
}
main .service .serviceList li{
    /* border: solid 2px #000; */
    text-align: center;
    height: 300px;
    width: 300px;
    margin: auto;
    color:#000000c7;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 0px 8.0px rgba(166, 166, 214, 0.781);
    /* vertical-align: middle; */
}
main .service .serviceList li h4{
    padding-top: 50px;
    /* border: solid 2px #e41717; */
}
main .service .serviceList li h4 a{
    text-decoration: none;
    font-size: 32px;
}

main .service .serviceList li:hover{
    opacity: 0.7;
    transition: 0.3s;
}

main .achivement{
    background-color:rgba(166, 166, 214, 0.089);
    /* height:900px; */
} 

main .achivement h2{
    color:#000000c7;
    font-size: 40px;
    font-weight: 650;
    margin-left: 50px;
    margin-bottom: 0px;
    padding-top: 40px;
} 

main .achivement h3{
    color:#000000c7;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 0px;
    font-weight: 200;
}

main .achivement li{
    font-size: 25px;
    list-style: none;
    margin: 60px 100px;
}

main .achivement li span{
    font-size: 80px;
}

main .achivement li:before{
    content: "";
    width: 15px; 
    height: 15px;
    display: inline-block;
    background-color: #020d16;
    border-radius: 50%;
}


main .achivement table{
    font-size: 20px;
    text-align: left;
    margin-top: 20PX;
    margin-left: 100px;
    font-weight: 0;
    margin-bottom: 50px;
}
main .achivement table th{
    width: 500px;
}
main .achivement table tr{
    height: 40px;
}

main .CostomerReview h2{
    text-align: center;
    color:#000000c7;
    font-size: 40px;
    font-weight: 650; 
    margin-top: 100px;
    margin-bottom: 0px; 
}
main .CostomerReview h3{
    font-weight: 200;
    color: #808080;
    text-align: center;
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: 30px;
}
main .CostomerReview .ReviewList .block1{
    display: flex;
}

main .CostomerReview .ReviewList .block2{
    display: flex;
}
main .CostomerReview .ReviewList li{
    list-style: none;
}
main .CostomerReview .ReviewList li a{
    display: flex;
}
main .CostomerReview .ReviewList li a img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
main .CostomerReview .ReviewList li a p{
    background-color:rgba(128, 158, 223, 0.39);  
    width: 500px;
    height:300px;
    margin: 50px
}


main .Video{
    text-align: center;
    background-color:rgba(166, 166, 214, 0.089);
}

main .Video h3{
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: rgba(12, 12, 12, 0.753);
    margin-bottom: 0;
}

main .Video h4{
    font-weight: 200;
    color: #808080;
}

main .Videolist{
    justify-content: center;
    display: flex;
}

main .Videolist li{
    justify-content: center;
    text-align: center;
    list-style: none;
    margin-left: 50px;
}

main .Videolist li:hover{
    opacity: 0.7;
    transition: 0.3s;
}

main .Video .Videolist li h4{
    background-color: #eaeff4;
    color: #020d16;
    display: block;
    border-radius: 4px;
    width: 200px;
    height: 35px;
    text-align: center;
    font-weight: 400;
    padding-top: 10px;
    box-shadow: 0px 0px 8.0px rgba(166, 166, 214, 0.781);
}

.Contact{
    margin-right: 0;
    margin-left: auto;
    width: 35%;
    height: 400px;
    margin-right: 100px;
    margin-top: 200px;
}

.Contact h2{
    text-align: center;
    font-weight: 300;
    color: #808080;
    font-size: 2.5vw;
    /* margin-left: 40px; */
    margin-top: 20px;    
    margin-bottom: 20px;
}
.Contact h3{
    margin-top: 10px;    
    margin-bottom: 20px;
    padding-top: 0px;
    text-align: center;
    align-items: center;
}
.Contact h3 a{
    text-decoration: none;
    background-color: #020d16;
    color: #fff;
    display: inline-block;
    border-radius: 7px;
    width: 30vw;
    height: 70px;
    /* text-align: center; */
    font-weight: 200;
    font-size: 2vw;
    padding-top: 20px;
}

.Contact h3:hover{
    opacity: 0.8;
    transition: 0.3s;
}

/* Fotter page */
footer{
    background-color: #020d16;
    color: #fff;
    padding: 20px 0; 
    text-align: center;
}

footer .footer img{
    margin-top: 50px;
    object-fit: cover;
}
footer .footer p{
    margin-bottom: 5px;
    margin-top: 5px;
}
footer .footer h2{
    margin-top: 51px;
    text-decoration: underline;
}

footer .footer .socialmedia a img{
    margin: 20px 20px;
}
footer .footer ul{
    padding: 0% 10%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer .footer ul li{
    /* height:200px; */
    width: 190px;
}

footer .footer ul li a{
    margin: 30px;
    display: inline-block;
    position: relative; /* 相対位置指定 */
    text-decoration: none; /* デフォルトのテキストの下線を消す */
}
footer .footer ul li a::after{
    background-color: #ffffff; /* 下線の色 */
    bottom: 2px; /* 要素の下端からの距離 */
    content: ""; /* 要素に内容を追加 */
    height: 2px; /* 下線の高さ */
    left: 0; /* 要素の左端からの距離 */
    opacity: 0; /* 不透明度 */
    position: absolute; /* 絶対位置指定 */
    transition: all .3s; /* アニメーション効果を追加 */
    width: 100%; /* 要素の幅 */
}
footer .footer ul li a:hover::after{
    bottom: -4px; /* 下線を上から下に移動 */
    opacity: 1; /* 不透明度を変更してフェードイン */
}
/* form below is for smartphone */
@media screen and (max-width:840px)
{
    html, body {
        /* 横にスクロールできないようにする */
        overflow-x: hidden; 
    }
    body {
        margin: 0;
        padding: 0;
        width: 100vw;  /* ビューポートの幅に合わせる */
        max-width: 100vw;  /* 最大幅をビューポート幅に制限 */
        overflow-x: hidden;  /* 横スクロールバーが出ないようにする */
        font-family: 'Hiragino Mincho Pro','Yu Mincho', serif;
    }
    /* ３本線のメニュー(ハンバーガーメニュー)のスタイル */
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: fixed;
        top: 28px;
        right: 30px;

        width: 30px;
        height: 20px;
        cursor: pointer;
        transition: transform 0.3s;
    }
    /* ハンバーガーメニューのアイコンのスタイル */
    .hamburger-line {
        width: 100%;
        height: 2px;
        background-color: #333;
        margin-bottom: 4px;
        transition: background-color 0.3s;
    }
    /* activeクラスのスタイル */
    .active .hamburger-line:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }
    .active .hamburger-line:nth-child(2) {
        opacity: 0;
    }
    .active .hamburger-line:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
    /* クリック前のメニューのスタイル：非表示 */
    #menu-list {
        display: none;
        background-color: #333;
        padding: 10px;
    }
    /* active（アイコンをクリック後)のメニューのスタイル */
    .active + #menu-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        width: 50vw;
        height: 80%;

        position: fixed;  /* 画面の右上に固定する */
        top: 75px;           /* 上端に配置 */
        right: 0;        /* 右端に配置 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* 影をつけて視覚的に区切る */
        z-index: 1000;    /* 他の要素の上に表示されるように */
    }
    .active + #menu-list a {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        padding: 1rem;
        transition-duration: 0.2s;
    }
    .menu li:hover {
        color: #b5dcff;
    }
    .menu li a::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background: #b5dcff;
        transition: 0.3s;
    }
    .menu li a:hover::before {
        width: 100%;
    }

    /* this is header (other than navigation)   */
    header .siteface{
        flex-direction: column;
        width: 100%;
    }
    header .siteface h1{
        padding-top: 100px;
        width: 80%;
    }
    header .siteface h1 p{
        padding-top: 20px;
        font-size: 12px;
    }
    header .siteface article {
        width: 80%;

    }
    header .siteface article h2{
        font-size: 25px;
        padding-left: 0px;
        padding-top: 20px;
    }
    header .siteface article h3{
        font-size: 14px;
        padding-left: 0px;
        padding-top: 10px;
    }
    header .siteface article .button{
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 0px;
    }
    header .siteface article .button li{
        margin: 20px 0px 0px 0px;
    }
    main .service h3{
        text-align: center;
        padding: 5% 10%;
    }
    main .service .serviceList{
        flex-direction: column;
    }
    main .service .serviceList li{
        width: 80%;
        margin-bottom: 15px;
    }
    main .achivement {
        height: auto;
    }
    main .achivement h2{
        text-align: center;
        margin: 10px 0px;
    }
    main .achivement h3{
        text-align: center;
        padding: 5% 10%;
        margin: 0px;
    }
    /* main .achivement .Support {
        list-style: none;  
    } */
    main .achivement .Support li{
        font-size: 15px;
        padding: 5% 10%;
        margin: 0px;
    }
    main .achivement .Support li span{
        font-size: 15px; 
    }
    main .achivement table{
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }
    main .achivement table tbody tr th{
        padding-bottom: 15px;
    }
    main .Contact{
        width: 100%;
        height: auto;
        margin: 0px;
    }
    main .Contact h2{
        font-size: 25px;
        margin: 20px 0px;
        text-align: center;
    }
    main .Contact h3 a{
        width: 80%;
        font-size: 25px;
        margin: 0% 10%;
    }
}