@charset "utf-8"; 

body {
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Mincho Pro','Yu Mincho', serif;
 }

.menu {

    /* background-color:rgba(166, 166, 214, 0.089); */
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding-left: 70px; */
    align-items: center;
    /* border: solid 2px #000; */
    height: 75px;
}

.menu ul{ 
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    /* width: 1240px; */
    width: 70%;
    margin: 0 auto;
    /* padding: 10px 20px; */
    padding: 5px 5px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    /* border: solid 2px #e41717; */
}

.menu li a{
    color: black;
    text-decoration: none;
}

.menu li a:hover{
    color: #004e8e;
}
main{
    background-color:rgba(166, 166, 214, 0.089);
    padding-top: 130px;
}


.Executive h3{
    font-size: 35px;
    margin-top: 100px;
    margin-left: 40px;
}

.Executive h1{
    border-left: 5px solid #0739ff; 
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
}

.Executive p{
    display: flex;
    justify-content: center;
}

.Executive h3{
    margin-bottom: 100px;
}

.Executive h5{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.Executive h4{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}

.Executive .Austin{
    margin: 5px;
}

.Executive .Cal{
    margin: 20px;
}

.mentor h1{
    border-left: 5px solid #0739ff; 
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
}

.mentor div{
    display: flex;
}

.mentor .nagi{
    margin: 70px;
    margin-left: 250px;
}

.mentor .nagi h4{
    margin-top: 25px;
    font-size: 20px;
}

.mentor .yama{
    margin: 70px;
}

.mentor .yama h4{
    margin-top: 25px;
    font-size: 20px;
}

.mentor .tai{
    margin: 70px;
}

.mentor .tai h4{
    margin-top: 25px;
    font-size: 20px;
}

.mentor .oka{
    margin: 70px;
    margin-left: 250px;
}

.mentor .oka h4{
    margin-top: 25px;
    font-size: 20px;
}

.mentor .ayu{
    margin: 70px;
}

.mentor .ayu h4{
    margin-top: 25px;
    font-size: 20px;
}

.mentor .taitai{
    margin: 70px;
}

.mentor .taitai h4{
    margin-top: 25px;
    font-size: 20px;
}

.mentor .taitaitai{
    margin: 70px;
    margin-left: 250px;
}

.mentor .taitaitai h4{
    margin-top: 25px;
    font-size: 20px;
}