@charset "utf-8"; 

body {
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Mincho Pro','Yu Mincho', serif;
 }

 .menu {

    /* background-color:rgba(166, 166, 214, 0.089); */
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding-left: 70px; */
    align-items: center;
    /* border: solid 2px #000; */
    height: 75px;
    z-index: 999;
}

 .menu ul{ 
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    /* width: 1240px; */
    width: 70%;
    margin: 0 auto;
    /* padding: 10px 20px; */
    padding: 5px 5px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    /* border: solid 2px #e41717; */
}

.menu li a{
    color: black;
    text-decoration: none;
}

.menu li a:hover{
    color: #004e8e;
}

main{
    width: 100%;
    padding-top: 80px;
}

main h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

.koukoku{
    width: 100%;
    background-color: rgb(231, 244, 255);
    height: 160px;

}

.koukoku a{
    margin-top: 5px;
}

.koukoku a h3{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-top: 20px;
}

.koukoku h5{
    text-align: center;
    font-size: 13px;
}

.button5{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 10px;
}

.button5 li a{
    text-decoration: none;
    background-color: #020d16;
    color: #fff;
    display: block;
    border-radius: 4px;
    width: 340px;
    height: 50px;
    text-align: center;
    font-weight: 200;
    padding-top: 15px;
}

.button5 li a:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.uctop{
    width: 100%;
    /* padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px; */
    padding: 40px;
    text-align: center;
    /* border: solid 2px #e41717; */
}

.uctop h3{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.uctop h2{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.uctop p{
    margin: 8px;
}

.uctop h3{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.uctop h2{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.ucout{
    width: 100%;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.ucout h3{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.ucout h2{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.ucout p{
    margin: 8px;
}

.ucfirst{
    width: 100%;
    /* padding-top: 60px;
    padding-left: 40px;
    padding-bottom: 40px; */
    padding: 40px;
    text-align: center;
}

.ucfirst p{
    margin: 8px;
}

.ucfirst h3{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.ucfirst h2{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.ucessay{
    width: 100%;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.ucessay p{
    margin: 8px;
}

.ucessay h3{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.ucessay h2{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

main div{
    display: flex;
}

.button{
    display: flex;
    /* width: 200px; */
    height: 80px;
    list-style: none;
    justify-content: center;
    align-items: center;
    /* margin-left: 210px; */
}

/* .button li{
    margin: 20px;
    margin-right: 120px;
} */

.button li a{
    text-decoration: none;
    background-color: #020d16;
    color: #fff;
    display: block;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: 200;
    padding-top: 15px;
}

.button li a:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.button2{
    display: flex;
    /* width: 200px; */
    height: 80px;
    list-style: none;
    justify-content: center;
    align-items: center;
    /* margin-left: 210px; */
}

/* .button2 li{
    margin: 20px;
    margin-right: 120px;
} */

.button2 li a{
    text-decoration: none;
    background-color: #020d16;
    color: #fff;
    display: block;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: 200;
    padding-top: 15px;
}

.button2 li a:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.button3{
    display: flex;
    /* width: 200px; */
    height: 80px;
    list-style: none;
    /* margin-left: 210px; */
    justify-content: center;
    align-items: center;
}

/* .button3 li{
    margin: 20px;
    margin-right: 120px;
} */

.button3 li a{
    text-decoration: none;
    background-color: #020d16;
    color: #fff;
    display: block;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: 200;
    padding-top: 15px;
}

.button3 li a:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.button4{
    display: flex;
    /* width: 200px; */
    height: 80px;
    list-style: none;
    /* margin-left: 240px; */
    justify-content: center;
    align-items: center;
}

/* .button4 li{
    margin: 20px;
    margin-right: 120px;
} */

.button4 li a{
    text-decoration: none;
    background-color: #020d16;
    color: #fff;
    display: block;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: 200;
    padding-top: 15px;
}

.button4 li a:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.merit{
    background-color:rgba(166, 166, 214, 0.089);
    margin: 0px;
}

.merit h1{
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: rgba(12, 12, 12, 0.753);
    padding-top: 80px;
    margin-bottom: 0;
}

.merit h2{
    font-weight: 500;
    font-size: 20px;
    color: rgba(12, 12, 12, 0.753);
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
}

.ichiban{
    display: flex;
    /* margin: 70px;
    margin-left: 200px; */
    margin: 5% 10%;
}

.ichiban a{
    margin-left: 200px;
    margin-top: 50px;
}

.ichiban a{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 12vw;
    width: 45vw;
    margin-left: 5vw;
    padding: .8em 1.2em;
    border-radius: 15px;
    background-color: #dce7f9;
    color: #333333;
}

.ichiban a::before{
    position: absolute;
    top: 50%; /* 左辺の50%の位置からスタート */
    transform: translateY(-50%); /* 高さの半分だけ上に移動して中央に揃える */
    left: -20px;
    width: 20px;
    height: 30px;
    background-color: #dce7f9;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    content: '';
}

.niban{
    display: flex;
    /* margin: 70px;
    margin-left: 200px; */
    margin: 5% 10%;
}

.niban a{
    margin-left: 200px;
    margin-top: 50px;
}

.niban a{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 12vw;
    width: 45vw;
    margin-left: 5vw;
    padding: .8em 1.2em;
    border-radius: 15px;
    background-color: #dce7f9;
    color: #333333;
}


.niban a::before{
    position: absolute;
    top: 50%; /* 左辺の50%の位置からスタート */
    transform: translateY(-50%); /* 高さの半分だけ上に移動して中央に揃える */
    left: -20px;
    width: 20px;
    height: 30px;
    background-color: #dce7f9;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    content: '';
}

.sanban{
    display: flex;
    /* margin: 70px;
    margin-left: 200px; */
    margin: 0% 10%;
    padding-bottom: 5%;
}

.sanban a{
    margin-left: 200px;
    margin-top: 50px;
}

.sanban a{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 11vw;
    width: 45vw;
    margin-left: 5vw;
    padding: .8em 1.2em;
    border-radius: 15px;
    background-color: #dce7f9;
    color: #333333;
}

.sanban a::before{
    position: absolute;
    top: 50%; /* 左辺の50%の位置からスタート */
    transform: translateY(-50%); /* 高さの半分だけ上に移動して中央に揃える */
    left: -20px;
    width: 20px;
    height: 30px;
    background-color: #dce7f9;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    content: '';
}

.ichiban h3{
    font-weight: 800;
    font-size: 2vw;
    color: rgba(12, 12, 12, 0.753);
}
.ichiban h4{
    font-size: 1vw; 
}
.niban h3{
    font-weight: 800;
    font-size: 2vw;
    color: rgba(12, 12, 12, 0.753);
}
.niban h4{
    font-size: 1vw;
}
.sanban h3{
    font-weight: 800;
    font-size: 2vw;
    color: rgba(12, 12, 12, 0.753);
}
.sanban h4{
    font-size: 1vw;
}
.taisei{
    padding-bottom: 50px;
}

.taisei h1{
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: rgba(12, 12, 12, 0.753);
    margin-top: 80px;
    margin-bottom: 50px;
}

.taisei h2{
    font-weight: bold;
    font-size: 23px;
    color: rgba(12, 12, 12, 0.753);
}

.taisei div{
    display: flex;
    /* margin-left: 200px; */
    margin: 0% 10%;
    justify-content: space-between;;
}

.taisei div a{
    /* margin-left: 50px;
    margin-top: 100px; */

    padding-top: 5%;
}

.tuyomi{
    background-color:rgba(166, 166, 214, 0.089);
    padding-top: 80px;
}

.tuyomi h1{
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: rgba(12, 12, 12, 0.753);
    margin-bottom: 50px;
}

.tuyomi div{
    margin-left: 250px;
    align-items: center;
    /* margin-bottom: 40px; */
    padding-bottom: 40px;
}

.tuyomi h2{
    font-weight: 800;
    font-size: 30px;
    color: rgba(12, 12, 12, 0.753);

}

.tuyomi p{
    margin-left: 100px;
}

.sai{
    margin-left: 20px;
}

/* Fotter page */
footer{
    background-color: #020d16;
    color: #fff;
    padding: 20px 0; 
    text-align: center;
}

footer .footer img{
    margin-top: 50px;
    object-fit: cover;
}
footer .footer p{
    margin-bottom: 5px;
    margin-top: 5px;
}
footer .footer h2{
    margin-top: 51px;
    text-decoration: underline;
}

footer .footer .socialmedia a img{
    margin: 20px 20px;
}
footer .footer ul{
    padding: 0% 10%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer .footer ul li {
    width: 190px;
}
footer .footer ul li a{
    margin: 30px;
    display: inline-block;
    position: relative; /* 相対位置指定 */
    text-decoration: none; /* デフォルトのテキストの下線を消す */
}
footer .footer ul li a::after{
    background-color: #ffffff; /* 下線の色 */
    bottom: 2px; /* 要素の下端からの距離 */
    content: ""; /* 要素に内容を追加 */
    height: 2px; /* 下線の高さ */
    left: 0; /* 要素の左端からの距離 */
    opacity: 0; /* 不透明度 */
    position: absolute; /* 絶対位置指定 */
    transition: all .3s; /* アニメーション効果を追加 */
    width: 100%; /* 要素の幅 */
}
footer .footer ul li a:hover::after{
    bottom: -4px; /* 下線を上から下に移動 */
    opacity: 1; /* 不透明度を変更してフェードイン */
}
footer #copyright {
    margin: 50px auto;
}

@media screen and (max-width:640px){
    html, body {
        /* どのデバイスでも横スクロール不可能にする */
        overflow-x: hidden;
    }
    body {
        margin: 0;
        padding: 0;
        width: 100vw;  /* ビューポートの幅に合わせる */
        max-width: 100vw;  /* 最大幅をビューポート幅に制限 */
        overflow-x: hidden;  /* 横スクロールバーが出ないようにする */
        font-family: 'Hiragino Mincho Pro','Yu Mincho', serif;
    }
    /* ３本線のメニュー(ハンバーガーメニュー)のスタイル */
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: fixed;
        top: 28px;
        right: 30px;

        width: 30px;
        height: 20px;
        cursor: pointer;
        transition: transform 0.3s;
    }
    /* ハンバーガーメニューのアイコンのスタイル */
    .hamburger-line {
        width: 100%;
        height: 2px;
        background-color: #333;
        margin-bottom: 4px;
        transition: background-color 0.3s;
    }
    /* activeクラスのスタイル */
    .active .hamburger-line:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }
    .active .hamburger-line:nth-child(2) {
        opacity: 0;
    }
    .active .hamburger-line:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
    /* クリック前のメニューのスタイル：非表示 */
    #menu-list {
        display: none;
        background-color: #333;
        padding: 10px;
    }
    /* active（アイコンをクリック後)のメニューのスタイル */
    .active + #menu-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        width: 50vw;
        height: 80%;

        position: fixed;  /* 画面の右上に固定する */
        top: 75px;           /* 上端に配置 */
        right: 0;        /* 右端に配置 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* 影をつけて視覚的に区切る */
        z-index: 1000;    /* 他の要素の上に表示されるように */
    }
    .active + #menu-list a {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        padding: 1rem;
        transition-duration: 0.2s;
    }
    .menu li:hover {
        color: #b5dcff;
    }
    .menu li a::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background: #b5dcff;
        transition: 0.3s;
    }
    .menu li a:hover::before {
        width: 100%;
    }
    main h1{
        margin: 0% 10% 10% 10%;
    }
    main h3{
        margin: 0% 10% 0% 10%; 
    }
    main div{
        flex-direction: column;
    }
    main .uctop{
        padding: 0px;
    }
    main .uctop h2{
        padding: 5% 10%;
        font-size: 25px;
    }
    main .uctop h4{
        padding: 0% 10%;
    }
    .uctop .button{
        margin: 0%;
        width: 100%;
        align-items: center;
        display: flex;
    }
    .uctop .button li{
        width: 100%;
        margin: 0px;
        text-align: center;
    }
    .uctop .button li a {
        margin: auto; 
    }
    main .ucout{
        padding: 0px;
    }
    main .ucout h3{
        margin: 5% 10%;
    }
    main .ucout h2{
        padding: 5% 10%;
        font-size: 25px;
    }
    main .ucout h4{
        padding: 0% 10%;
    }
    .ucout .button2{
        margin: 0%;
        width: 100%;
        align-items: center;
        display: flex;
    }
    .ucout .button2 li{
        width: 100%;
        margin: 0px;
        text-align: center;
    }
    .ucout .button2 li a{
        margin: auto;  
    }
    main .ucfirst{
        padding: 0px;
    }
    main .ucfirst h3{
        margin: 5% 10%;
    }
    main .ucfirst h2{
        padding: 5% 10%;
        font-size: 25px;
    }
    main .ucfirst h4{
        padding: 0% 10%;
    }
    .ucfirst .button3{
        margin: 0%;
        width: 100%;
        align-items: center;
        display: flex;
    }
    .ucfirst .button3 li{
        width: 100%;
        margin: 0px;
        text-align: center;
    }
    .ucfirst .button3 li a{
        margin: auto;  
    }
    main .ucessay{
        padding: 0px;
    }
    main .ucessay h3{
        margin: 5% 10% 0% 10%;
    }
    main .ucessay h2{
        padding: 0% 10%;
        font-size: 25px;
    }
    main .ucessay h4{
        padding: 5% 10% 0% 10%;
    }
    .ucessay .button4{
        margin: 0%;
        width: 100%;
        align-items: center;
        display: flex;
    }
    .ucessay .button4 li{
        width: 100%;
        margin: 0px;
        text-align: center;
    }
    .ucessay .button4 li a{
        margin: auto;  
    }
    .merit h2{
        margin: 5% 10%;
    }
    .merit .ichiban{
        margin: 0% 10%;
        align-items: center;
    }
    .merit .ichiban a{
        margin: 5% 10%;
        width: 55vw;
        height: 15vw;
    }
    .merit .ichiban h3{
        font-size: 4vw;
        font-weight: bold;
        margin: 0px;
    }
    .merit .ichiban h4{
        font-size: 3vw;
        margin-bottom: 15%;

    }
    .merit .niban{
        margin: 0% 10%;
        align-items: center;
    }
    .merit .niban a{
        margin: 5% 10%;
        width: 55vw;
        height: 17vw;
    }
    .merit .niban h3{
        font-size: 4vw;
        font-weight: bold;
        margin: 0px;
    }
    .merit .niban h4{
        font-size: 3vw;
        margin-bottom: 15%;
    }
    .merit .sanban{
        margin: 0% 10%;
        align-items: center;
    }
    .merit .sanban a{
        margin: 5% 10%;
        width: 55vw;
        height: 15vw;
    }
    .merit .sanban h3{
        font-size: 4vw;
        font-weight: bold;
        margin: 0px;
    }
    .merit .sanban h4{
        font-size: 3vw;
        margin-bottom: 15%;
    }
    .taisei div{
        margin: 10%;
    }
    .taisei div a{
        margin: 0% 0% 10% 0%;
    }
    .taisei div a h2{
        margin-bottom: 5%;
    }
    .tuyomi div{
        margin: 0% 10%;
        padding: 0%;
    }
    .tuyomi div a h2{
        padding-bottom: 5%;
    }
    .tuyomi div a h4{
        padding-bottom: 10%;
    }
}