@charset "utf-8"; 

body {
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Mincho Pro','Yu Mincho', serif;
 }

 .menu {

    /* background-color:rgba(166, 166, 214, 0.089); */
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding-left: 70px; */
    align-items: center;
    /* border: solid 2px #000; */
    height: 75px;
}

 .menu ul{ 
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    /* width: 1240px; */
    width: 70%;
    margin: 0 auto;
    /* padding: 10px 20px; */
    padding: 5px 5px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    /* border: solid 2px #e41717; */
}

.menu li a{
    color: black;
    text-decoration: none;
}

.menu li a:hover{
    color: #004e8e;
}

main{
    width: 100%;
    padding-top: 80px;
}

main h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

.koukoku{
    background-color: rgb(231, 244, 255);
    height: 160px;
}

.koukoku a{
    margin-top: 5px;
}

.koukoku a h3{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-top: 20px;
}

.koukoku h5{
    text-align: center;
    font-size: 13px;
}

.button5{
    display: flex;
    width: 300px;
    height: 80px;
    list-style: none;
    margin-left: 610px;
    padding-bottom: 20px;
}

.button5 li{
    margin: 20px;
    margin-right: 120px;
}

.button5 li a{
    text-decoration: none;
    background-color: #020d16;
    color: #fff;
    display: block;
    border-radius: 4px;
    width: 250px;
    height: 50px;
    text-align: center;
    font-weight: 200;
    padding-top: 15px;
}

.button5 li a:hover{
    opacity: 0.8;
    transition: 0.3s;
}



.uctop{
    width: 100%;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    text-align: center;
    /* border: solid 2px #e41717; */
}

.uctop h3{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.uctop h2{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.uctop p{
    margin: 8px;
}

.uctop h3{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.uctop h2{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.ucout{
    width: 100%;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.ucout h3{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.ucout h2{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.ucout p{
    margin: 8px;
}

.ucfirst{
    width: 100%;
    padding-top: 60px;
    padding-left: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.ucfirst p{
    margin: 8px;
}

.ucfirst h3{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.ucfirst h2{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.ucessay{
    width: 100%;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.ucessay p{
    margin: 8px;
}

.ucessay h3{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

.ucessay h2{
    font-size: 25px;
    color: #514e4e;
    font-weight: 600;
}

main div{
    display: flex;
}

.button{
    display: flex;
    width: 200px;
    height: 80px;
    list-style: none;
    margin-left: 210px;
}

.button li{
    margin: 20px;
    margin-right: 120px;
}

.button li a{
    text-decoration: none;
    background-color: #020d16;
    color: #fff;
    display: block;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: 200;
    padding-top: 15px;
}

.button li a:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.button2{
    display: flex;
    width: 200px;
    height: 80px;
    list-style: none;
    margin-left: 210px;
}

.button2 li{
    margin: 20px;
    margin-right: 120px;
}

.button2 li a{
    text-decoration: none;
    background-color: #020d16;
    color: #fff;
    display: block;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: 200;
    padding-top: 15px;
}

.button2 li a:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.button3{
    display: flex;
    width: 200px;
    height: 80px;
    list-style: none;
    margin-left: 210px;
}

.button3 li{
    margin: 20px;
    margin-right: 120px;
}

.button3 li a{
    text-decoration: none;
    background-color: #020d16;
    color: #fff;
    display: block;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: 200;
    padding-top: 15px;
}

.button3 li a:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.button4{
    display: flex;
    width: 200px;
    height: 80px;
    list-style: none;
    margin-left: 240px;
}

.button4 li{
    margin: 20px;
    margin-right: 120px;
}

.button4 li a{
    text-decoration: none;
    background-color: #020d16;
    color: #fff;
    display: block;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: 200;
    padding-top: 15px;
}

.button4 li a:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.merit{
    background-color:rgba(166, 166, 214, 0.089);
    margin: 0px;
}

.merit h1{
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: rgba(12, 12, 12, 0.753);
    padding-top: 80px;
    margin-bottom: 0;
}

.merit h2{
    font-weight: 500;
    font-size: 20px;
    color: rgba(12, 12, 12, 0.753);
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
}

.ichiban{
    display: flex;
    margin: 70px;
    margin-left: 200px;
}

.ichiban a{
    margin-left: 200px;
    margin-top: 50px;
}

.niban{
    display: flex;
    margin: 70px;
    margin-left: 200px;
}

.niban a{
    margin-left: 200px;
    margin-top: 50px;
}

.sanban{
    display: flex;
    margin: 70px;
    margin-left: 200px;
}

.sanban a{
    margin-left: 200px;
    margin-top: 50px;
}

.ichiban h3{
    font-weight: 800;
    font-size: 30px;
    color: rgba(12, 12, 12, 0.753);
}

.niban h3{
    font-weight: 800;
    font-size: 30px;
    color: rgba(12, 12, 12, 0.753);
}

.sanban h3{
    font-weight: 800;
    font-size: 30px;
    color: rgba(12, 12, 12, 0.753);
}

.taisei{
    padding-bottom: 50px;
}

.taisei h1{
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: rgba(12, 12, 12, 0.753);
    margin-top: 80px;
    margin-bottom: 50px;
}

.taisei h2{
    font-weight: bold;
    font-size: 23px;
    color: rgba(12, 12, 12, 0.753);

}

.taisei div{
    display: flex;
    margin-left: 200px;
}

.taisei div a{
    margin-left: 50px;
    margin-top: 100px;
}

.tuyomi{
    background-color:rgba(166, 166, 214, 0.089);
    padding-top: 80px;
}

.tuyomi h1{
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: rgba(12, 12, 12, 0.753);
    margin-bottom: 50px;
}